a.mybtn{
	text-decoration: none;
	color: #767C8A;
	display: inline-table;
	width: 20px;
	height: 20px;
	border: 1px solid #767C8A;
	text-align: center;
	line-height: 20px;
	font-size: 14px;
	margin-right: 5px;
}
.show{
	display: inline-block;
}
.hide{
	display: none;
}
